* {
  font-family: "Lunasima", sans-serif;
  scroll-behavior: smooth;
}

.container {
  width: min(1180px, 100%);
  margin: 0 auto;
  position: relative;
}

.container-bg {
  width: min(1652px, 100%);
  margin: 0 auto;
  position: relative;
}

.container-lg {
  width: min(1920px, 100%);
  margin: 0 auto;
  position: relative;
}

.w {
  width: 100% !important;
}

.h2 {
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
  line-height: 52.2px;
  letter-spacing: 2.52px;
  text-transform: uppercase;
}

.h3 {
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 145%;
}
